.header {
    position: absolute;
    z-index: 9999;

    &__fixed {
        &__button-menu {
            position: absolute;
            color: blue;
            cursor: pointer;
            position: fixed;
            
            top: 0;
            z-index: 9999;
            right: 0;
            width: 20vw;
            height: 8vw;
            left: 131rem;
            top: 0;

            @include respond(iPhone6_7_8_plus) {
                left: 33rem;
                opacity: .9;
            }

            @include respond(phone) {
                left: 29rem;
                opacity: .9;
                
            }
        
            &__paragraph {
                width: 8rem;
                background-color: #3980a4;
                color: #fff;
                padding-top: .6rem;
                padding-bottom: 2rem;
                font-size: 1.4rem;
                text-align: center;
                height: 4.5rem;

                @include respond(iPhone6_7_8_plus) {
                    width: 7.2rem;
                    height: 6rem;
                    padding-top: 1rem;
                }

                @include respond(phone) {
                    width: 6rem;
                }
            }
        
            &__hamburger-menu {
                width: 7.9rem;
                height: 100%;
                background-color: #225875;
                // clip-path: polygon(50% 0%, 100% 0, 100% 21%, 51% 41%, 0 22%, 0 0);
                clip-path: polygon(50% 0%, 100% 0, 100% 19%, 50% 39%, 0 19%, 0 0);

                @include respond(iPhone6_7_8_plus) {
                    width: 9rem;
                    clip-path: polygon(0 0, 80% 0, 80% 50%, 40% 89%, 0 50%,0 0);
                }

                @include respond(phone) {
                    width: 7.7rem;
                    clip-path: polygon(0 0, 77% 0, 80% 50%, 40% 89%, 0 50%,0 0);
                }
        
                &__line {
                    display: block;
                    margin-left: 2.5rem;
                    width: 29px;
                    height: 2px;
                    margin-bottom: 1.5rem;
                    margin-top: -1rem;
                    background: #fff;
                    z-index: 1;

                    @include respond(iPhone6_7_8_plus) {
                        margin-left: 2.2rem;
                        margin-top: -2rem;
                    }

                    @include respond(phone) {
                        margin-left: 1.5rem;

                    }
                }
            }
        }
    }
}















// .headerMain {
//     // height: 100vh;
//     // position: relative;
//     // overflow: hidden;


//     // &__container {
//     //     position: relative;
//     //     z-index: 2;

//         // &__console-logos {
//         //     display: flex;
//         //     margin-top: 2.5rem;
//         //     margin-left: 2rem;

//         //     &__img-ps4 {
//         //         max-width: 18rem;
//         //         max-height: 3.7rem;
//         //     }

//         //     &__img-xbox {
//         //         max-width: 20rem;
//         //         max-height: 3.7rem;
//         //         margin-left: 3rem;
//         //         margin-top: .1rem;
//         //         margin-right: 3rem;
//         //     }

//         //     &__img-steam {
//         //         max-width: 18rem;
//         //         max-height: 3.7rem;
//         //     }
//         // }

//         &__nav {
//             position: fixed;
//             margin-top: -6.3rem;
//             margin-right: 4rem;
//             width: 97%;

//             &__container {

//                 &__ul {
//                     display: flex;
//                     justify-content: flex-end;
//                     min-height: 6rem;
//                     max-height: 4.7rem;
//                 }
  
//                 &__preorder {
//                     margin-right: 3rem;
//                     background-color:#3980a4;
//                     width: 12.8%;
//                     color: #fff;
//                     font-size: 1.7rem;
//                     padding: 1.6rem;
//                     text-align: center;

//                 }

//                 &__menu {
//                     background-color: #3980a4;
//                     width: 5.7%;
//                     color: #fff;
//                     font-size: 1.7rem;
//                     text-align: center;
//                     padding: .7rem;
//                 }

//                 &__after-content:after {
//                     content: "";
//                     display: block;
//                     position: absolute;
//                     top: 4.9rem;
//                     right: 0;
//                     height: 7.7rem;
//                     width: 8rem;
//                     background-color: #225875;
//                     clip-path: polygon(50% 0%, 100% 0, 100% 21%, 51% 41%, 0 22%, 0 0);
//                 }
//             }  
//         }

//         &__content {
//             background-image: url('../../images/monster-hunter-village.jpg');

//             &__logo {
//                 width: 47%;
//                 transform: translate(38rem, -5rem);
//             }

//             &__text-box {
//                 text-align: center;
//                 margin-bottom: 4rem;
//                 transform: translate(0, -5rem);

//                 &__main-text {
//                     font-size: 2.5rem;
//                     color: #fff;
//                     font-weight: 900;
//                     text-shadow: 0px 0px 7px rgb(0,0,0);
//                 }

//                 &__sub-text {
//                     font-size: 4rem;
//                     margin-top: 1.3rem;
//                     color: #fff;
//                     font-weight: 900;
//                     text-shadow: 0px 0px 7px rgb(0,0,0)
//                 }

//                 &__second-sub-text {
//                     font-size: 2rem;
//                     margin-top: 1.3rem;
//                     color: #fff;
//                     font-weight: 900;
//                     text-shadow: 0px 0px 7px rgb(0,0,0)
//                 }
//             }

//             &__news {

//             &__ul {
//                 display: grid;
//                 grid-template-columns: auto auto;

//                 &__li-left-box {
//                     margin-left: 12rem;
//                     margin-right: 17rem;
                    
//                     &__anchor {
//                         text-decoration: none;
//                         display: flex;
//                         justify-content: center;
//                         border: 5px solid #000;
//                         // margin-left: 11rem;

//                         &__image {
//                             max-width: 15vw;
//                         }

//                         &__paragraph {
//                             display: inline-block;
//                             color: #26749a;
//                             font-size: 2.5rem;
//                             padding: 2.5rem;
//                         }
//                     }

//                     &__anchor:hover {
//                         border: 5px solid #73c6ee;
//                         transition: all .7s;
//                     }
//                 }

//                 &__li-right-box {
//                     margin-left: -8rem;
//                     margin-right: 12rem;
                  
//                     &__anchor {
//                         text-decoration: none;
//                         display: flex;
//                         justify-content: center;
//                         border: 5px solid #000;
                        

//                         &__image {
//                             max-width: 15vw;
//                         }

//                         &__paragraph {
//                             display: inline-block;
//                             color: #26749a;
//                             font-size: 2.5rem;
//                             padding: 3.7rem;
//                         }
//                     }

//                     &__anchor:hover {
//                         border: 5px solid #73c6ee;
//                         transition: all .7s;
                        
//                     }
//                 }
               
//             }

//             }
//         }
//     // }

//     // &__background-image {
//     //     width: 100vw;
//     //     opacity: .3;
//     //     position: absolute;
//     //     left: 0;
//     //     top: 0;
//     //     height: auto; 
        
//     // }
    
//     // &__img {
//     //     width: 100vw;
//     //     opacity: .3;
//     //     position: absolute;
//     //     left: 0;
//     //     top: 0;
//     //     height: auto;
//     // }



//    &__container {

//     &__console-logos {
//         display: flex;
//         margin-top: 2.5rem;
//         margin-left: 2rem;

//         &__img-ps4 {
//             max-width: 18rem;
//             max-height: 3.7rem;
//         }

//         &__img-xbox {
//             max-width: 20rem;
//             max-height: 3.7rem;
//             margin-left: 3rem;
//             margin-top: .1rem;
//             margin-right: 3rem;
//         }

//         &__img-steam {
//             max-width: 18rem;
//             max-height: 3.7rem;
//         }
//     }
//    }
//     // &__container {
//     //     position: relative;
//     //     z-index: 2;

//     //     &__console-logos {
//     //         display: flex;
//     //         margin-top: 2.5rem;
//     //         margin-left: 2rem;

//     //         &__img-ps4 {
//     //             max-width: 18rem;
//     //             max-height: 3.7rem;
//     //         }

//     //         &__img-xbox {
//     //             max-width: 20rem;
//     //             max-height: 3.7rem;
//     //             margin-left: 3rem;
//     //             margin-top: .1rem;
//     //             margin-right: 3rem;
//     //         }

//     //         &__img-steam {
//     //             max-width: 18rem;
//     //             max-height: 3.7rem;
//     //         }
//     //     }

//     //     &__nav {
//     //         position: fixed;
//     //         margin-top: -6.3rem;
//     //         margin-right: 4rem;
//     //         width: 97%;

//     //         &__container {

//     //             &__ul {
//     //                 display: flex;
//     //                 justify-content: flex-end;
//     //                 min-height: 6rem;
//     //                 max-height: 4.7rem;
//     //             }
  
//     //             &__preorder {
//     //                 margin-right: 3rem;
//     //                 background-color:#3980a4;
//     //                 width: 12.8%;
//     //                 color: #fff;
//     //                 font-size: 1.7rem;
//     //                 padding: 1.6rem;
//     //                 text-align: center;

//     //             }

//     //             &__menu {
//     //                 background-color: #3980a4;
//     //                 width: 5.7%;
//     //                 color: #fff;
//     //                 font-size: 1.7rem;
//     //                 text-align: center;
//     //                 padding: .7rem;
//     //             }

//     //             &__after-content:after {
//     //                 content: "";
//     //                 display: block;
//     //                 position: absolute;
//     //                 top: 4.9rem;
//     //                 right: 0;
//     //                 height: 7.7rem;
//     //                 width: 8rem;
//     //                 background-color: #225875;
//     //                 clip-path: polygon(50% 0%, 100% 0, 100% 21%, 51% 41%, 0 22%, 0 0);
//     //             }
//     //         }  
//     //     }

//     //     &__content {

//     //         &__logo {
//     //             width: 47%;
//     //             transform: translate(38rem, -5rem);
//     //         }

//     //         &__text-box {
//     //             text-align: center;
//     //             margin-bottom: 4rem;
//     //             transform: translate(0, -5rem);

//     //             &__main-text {
//     //                 font-size: 2.5rem;
//     //                 color: #fff;
//     //                 font-weight: 900;
//     //                 text-shadow: 0px 0px 7px rgb(0,0,0);
//     //             }

//     //             &__sub-text {
//     //                 font-size: 4rem;
//     //                 margin-top: 1.3rem;
//     //                 color: #fff;
//     //                 font-weight: 900;
//     //                 text-shadow: 0px 0px 7px rgb(0,0,0)
//     //             }

//     //             &__second-sub-text {
//     //                 font-size: 2rem;
//     //                 margin-top: 1.3rem;
//     //                 color: #fff;
//     //                 font-weight: 900;
//     //                 text-shadow: 0px 0px 7px rgb(0,0,0)
//     //             }
//     //         }

//     //         &__news {

//     //         &__ul {
//     //             display: grid;
//     //             grid-template-columns: auto auto;

//     //             &__li-left-box {
//     //                 margin-left: 12rem;
//     //                 margin-right: 17rem;
                    
//     //                 &__anchor {
//     //                     text-decoration: none;
//     //                     display: flex;
//     //                     justify-content: center;
//     //                     border: 5px solid #000;
//     //                     // margin-left: 11rem;

//     //                     &__image {
//     //                         max-width: 15vw;
//     //                     }

//     //                     &__paragraph {
//     //                         display: inline-block;
//     //                         color: #26749a;
//     //                         font-size: 2.5rem;
//     //                         padding: 2.5rem;
//     //                     }
//     //                 }

//     //                 &__anchor:hover {
//     //                     border: 5px solid #73c6ee;
//     //                     transition: all .7s;
//     //                 }
//     //             }

//     //             &__li-right-box {
//     //                 margin-left: -8rem;
//     //                 margin-right: 12rem;
                  
//     //                 &__anchor {
//     //                     text-decoration: none;
//     //                     display: flex;
//     //                     justify-content: center;
//     //                     border: 5px solid #000;
                        

//     //                     &__image {
//     //                         max-width: 15vw;
//     //                     }

//     //                     &__paragraph {
//     //                         display: inline-block;
//     //                         color: #26749a;
//     //                         font-size: 2.5rem;
//     //                         padding: 3.7rem;
//     //                     }
//     //                 }

//     //                 &__anchor:hover {
//     //                     border: 5px solid #73c6ee;
//     //                     transition: all .7s;
                        
//     //                 }
//     //             }
               
//     //         }

//     //         }
//     //     }
//     // }
// }

