.header {
    position: absolute;
    z-index: 9999;

    &__fixed {
        &__button-menu {
            position: absolute;
            color: blue;
            cursor: pointer;
            position: fixed;
            
            top: 0;
            z-index: 9999;
            right: 0;
            width: 20vw;
            height: 8vw;
            left: 131rem;
            top: 0;

            @include respond(iPadPro) {
                left: 95rem !important;
            }

            @include respond(iPad) {
                right: 8rem !important;
                left: 65rem !important;
            }

            @include respond(iPhone6_7_8_plus) {
                left: 33rem !important;
                opacity: .9;
            }


            @include respond(phone) {
                left: 29rem;
                opacity: .9;
                
            }

            @include respond(pixel2_xl) {
                left: 32rem !important;
            }

            @include respond(iPhoneX) {
                left: 29rem !important;
            }

            @include respond(iPhone_6_7_8) {
                left: 29rem !important;
            }

            @include respond(galaxyS5) {
                left: 27rem !important;
            }

            @include respond(iPhone_5_se) {
                left: 23rem !important;
            }
        
            &__paragraph {
                width: 8rem;
                background-color: #3980a4;
                color: #fff;
                padding-top: .6rem;
                padding-bottom: 2rem;
                font-size: 1.4rem;
                text-align: center;
                height: 4.5rem;

                @include respond(iPad) {
                    width: 12rem;
                    font-size: 2.7rem;
                    padding-top: 1.5rem;
                    height: 8.5rem;
                }

                @include respond(iPhone6_7_8_plus) {
                    width: 7.2rem !important;
                    height: 6rem !important;
                    padding-top: 1rem !important;
                    font-size: 1.4rem !important;
                }

                @include respond(phone) {
                    width: 6rem;
                    font-size: 1.4rem !important;
                }

            }
        
            &__hamburger-menu {
                width: 7.9rem;
                height: 100%;
                background-color: #225875;
                // clip-path: polygon(50% 0%, 100% 0, 100% 21%, 51% 41%, 0 22%, 0 0);
                clip-path: polygon(50% 0%, 100% 0, 100% 19%, 50% 39%, 0 19%, 0 0);

                @include respond(iPad) {
                    width: 11.9rem;
                    height: 14vh !important;
                }

                @include respond(iPhone6_7_8_plus) {
                    width: 9rem;
                    clip-path: polygon(0 0, 80% 0, 80% 50%, 40% 89%, 0 50%,0 0);
                    height: 100% !important;
                }

                @include respond(phone) {
                    width: 9rem !important;
                    clip-path: polygon(0 0, 77% 0, 80% 50%, 40% 89%, 0 50%,0 0);
                    height: 100% !important;
                }
        
                &__line {
                    display: block;
                    margin-left: 2.5rem;
                    width: 29px;
                    height: 2px;
                    margin-bottom: 1.5rem;
                    margin-top: -1rem;
                    background: #fff;
                    z-index: 1;

                    @include respond(iPad) {
                        margin-left: 3.3rem;
                        width: 50px;
                        margin-top: -1.6rem;
                    }

                    @include respond(iPhone6_7_8_plus) {
                        margin-left: 2.2rem;
                        margin-top: -2rem;
                        width: 30px !important;
                    }

                
                    @include respond(phone) {
                        margin-left: 1.6rem !important;
                        width: 30px !important;
                    }

                    @include respond(iPhone_6_7_8) {
                        margin-left: 2.1rem !important;
                    }

                    @include respond(iPhoneX) {
                        margin-left: 2rem !important;
                    }


                }
            }
        }
    }
}