.main {
    position: relative;
    min-height: 100vh;
    display: block;

    &__text {
        position: relative;
        z-index: 9999;
        top: -5rem;

        @include respond(iPadPro) {
            left: 2rem !important;
        }

        @include respond(iPad) {
            top: 25rem !important;
            left: 4rem !important;
        }


        @include respond(iPhone6_7_8_plus) {
            top: 11rem !important;
            left: 0rem !important;
        }

        @include respond(phone) {
            top: 13rem !important;
            left: -1rem !important;
        }

       
        @include respond(pixel2_xl) {
            top: 16rem !important;
        }

        @include respond(pixel2) {
            top: 11rem !important;
        }


        @include respond(iPhone_6_7_8) {
            top: 14rem !important;
            left: 0rem !important;
        }

        @include respond(iPhone_5_se) {
            top: 11rem !important;
            left: 1rem !important;
        }

        @include respond(galaxyS5) {
            left: 1rem !important;
        }

       
        &__primary {
            color: #fff;
            font-size: 3.3rem;
            text-align: center;
            text-shadow: 0 0 15px #000, 0 0 15px #000, 0 0 10px #000;

             @include respond(iPad) {
                font-size: 3.3rem;
            }

            @include respond(iPhone6_7_8_plus) {
                font-size: 1.9rem;
            }

            @include respond(phone) {
                font-size: 1.7rem !important;
            }

            @include respond(iPhone_5_se) {
                font-size: 1.5rem !important;
            }

           
        }

        &__sub-text {
            color: #fff;
            font-size: 4.5rem;
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-shadow: 0 0 15px #000, 0 0 15px #000, 0 0 10px #000;

            @include respond(iPad) {
                font-size: 5.5rem;
                margin-top: 3rem;
                margin-bottom: 3rem;
            }

            @include respond(iPhone6_7_8_plus) {
                font-size: 4rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            @include respond(phone) {
                font-size: 3rem !important;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            @include respond(iPhone_5_se) {
                font-size: 2.9rem !important;
            }

          
        }

        &__sub-text-2 {
            color: #fff;
            font-size: 2.4rem;
            text-align: center;
            text-shadow: 0 0 15px #000, 0 0 15px #000, 0 0 10px #000;

            @include respond(iPad) {
                font-size: 3.3rem !important;
            }
            
            @include respond(iPhone6_7_8_plus) {
                font-size: 1.9rem !important;
            }

            @include respond(phone) {
                font-size: 1.7rem !important;
            }

            @include respond(iPhone_5_se) {
                font-size: 1.5rem !important;
            }

    
        }
    }
    
    &__logo {
        position: relative;
        z-index: 9999;
        text-align: center;
        top: .3rem;

        @include respond(iPad) {
            top: 11rem;
        }

        @include respond(iPhone6_7_8_plus) {
            top: 4.7rem;
        }

        @include respond(phone) {
            top: 8.3rem;
        }


        &__image {
            width: 48%;
            
            @include respond(iPadPro) {
                width: 103%;
            }

            @include respond(iPad) {
                width: 100%;
            }

            @include respond(iPhone6_7_8_plus) {
                width: 100%;
            }

            @include respond(phone) {
                width: 100%;
            }

            
        }
    }

    &__ul {
        position: relative;
        z-index: 9999;
        display: flex; 
        bottom: 37rem;
        left: 3rem;

        @include respond(iPadPro) {
            bottom: 59rem !important;
            left: 2rem !important;
        }

        @include respond(iPad) {
            top: 18rem;
        }

        @include respond(iPhone6_7_8_plus) {
            top: 8rem;
            left: 1.5rem;
            bottom: 0;
        }

        @include respond(iPhone_6_7_8) {
            top: 9rem;
            left: 1.5rem;
        }

        @include respond(pixel2_xl) {
            top: 9rem !important;
        }

        @include respond(pixel2) {
            top: 6rem !important;
        }

        
        &__playstation {

            &__logo {
                max-width: 12rem;

                @include respond(iPad) {
                    max-width: 25rem;
                }

                @include respond(iPhone6_7_8_plus) {
                    max-width: 12rem;
                }

                @include respond(iPhone_6_7_8) {
                    max-width: 11rem;
                }

                @include respond(phone) {
                    max-width: 11rem;
                }

                @include respond(iPhone_5_se) {
                    max-width: 9rem;
                }

            }
        }

        &__xbox {

            &__logo {
                max-width: 12rem;
                margin-left: 3rem;
                margin-right: 3rem;

                @include respond(iPad) {
                    max-width: 25rem;
                }

                @include respond(iPhone6_7_8_plus) {
                    max-width: 12rem;
                    margin-left: 2rem;
                    margin-right: 2rem;
                }

                @include respond(iPhone_6_7_8) {
                    max-width: 11rem;
                    margin-left: 2rem;
                    margin-right: 2rem;
                }

                @include respond(phone) {
                    max-width: 11rem;
                    margin-left: 2rem;
                    margin-right: 2rem;
                }

                @include respond(iPhone_5_se) {
                    max-width: 9rem;
                }

            }
        }

        &__steam {
            

            &__logo {
                max-width: 9rem;

                @include respond(iPad) {
                    max-width: 17rem;
                    margin-top: -.3rem;
                }

                @include respond(iPhone6_7_8_plus) {
                    max-width: 9rem;
                    margin-top: -.3rem;
                }

                @include respond(iPhone_6_7_8) {
                    max-width: 8rem;
                }

                @include respond(phone) {
                    max-width: 8rem;
                }

                @include respond(iPhone_5_se) {
                    max-width: 7.5rem;
                    margin-top: -.3rem;
                }
           
            }
        }
    }

    &__feature-stories {
        position: absolute;
        z-index: 1;
        text-align: center;
        left: 15rem;
        top: 60rem;

        @include respond(iPad) {
            position: inherit;
        }
        

        &__left-box {
            position: relative;
            display: inline-block;
            border: 5px #297499 solid;
            max-width: 90%;
           
            &__anchor {
                position: relative;
                display: block;
                left: -13rem;
                max-width: 100%;
                &__figure {

                    img {
                        max-width: 50%;
                        height: auto;
                    }
                }

                &__content {
                    position: absolute;
                    color: #fff;
                    font-size: 2.3rem;
                    top: -10rem;
                    right: -25rem;
                    text-align: center;
                    width: 90%;

                    p {
                        padding: 12rem;
                        text-shadow: 0 0 15px #000, 0 0 15px #000, 0 0 10px #000;
                    }
                    
                }
            }

        }

        &__left-box:hover {
            border: 5px solid #73c6ee;
            transition: all .7s;
        }

        &__right-box {
            cursor: pointer;
            position: relative;
            display: inline-block;
            border: 5px #297499 solid;
            left: 10rem;

            &__anchor {
               position: relative;
               display: block;
        
                &__figure {

                    img {
                        position: relative;
                        left: -13rem;
                        max-width: 50%;
                        height: auto;
                    }
                }

                &__content {
                    position: absolute;
                    color: #fff;
                    font-size: 2.3rem;
                    text-align: center;
                    width: 90%;
                    left: 15rem;
                    top: -8rem;

                    p {
                        padding: 12rem;
                        text-shadow: 0 0 15px #000, 0 0 15px #000, 0 0 10px #000;
                        
                    }
                }
            }
        }
        &__right-box:hover {
            border: 5px solid #73c6ee;
            transition: all .7s;
        }
    }
    
}

.main::after {
    content: "";
    background: url('../../images/monster-hunter-village.jpg');
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    

    @include respond(iPadPro) {
        background-size: cover !important;
        max-width: 103vw !important;
        width: 105vw !important;
    }

    @include respond(iPad) {
        background: url('../../images/background-image-phone.jpg');
        max-width: 105vw !important;
        width: 105vw !important;
        background-size: cover;
        background-position: bottom;
        height: 100vh;
    }

    

    @include respond(iPhone6_7_8_plus) {
        background: url('../../images/background-image-phone.jpg');
        max-width: 100%;
        width: 42rem !important;
        background-size: cover;
        background-position: right;
        max-height: 100vh;
        height: 70vh;
    }
    

    @include respond(phone) {
        background: url('../../images/background-image-phone.jpg');
        max-width: 100%;
        width: 39rem !important;
        background-size: cover;
        background-position: center center;
        max-height: 100vh;
        height: 63vh;
    }

   

    @include respond(iPhone_6_7_8) {
        height: 50rem;
        width: 38rem;
    }

    @include respond(pixel2) {
        width: 44rem !important;
        max-width: 50rem !important;
    }

    @include respond(pixel2_xl) {
        max-width: 104vw !important;
        width: 104vw !important;
    }

    @include respond(galaxyS5) {
        width: 40rem !important;
      
    }

    @include respond(iPhone_5_se) {
        max-height: 76vh;
        background-position: bottom;
        max-width: 33.5rem !important;
        width: 44rem !important;
    }


  

}

